language: php
dist: trusty

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - nightly

env:
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=latest WP_MULTISITE=1

matrix:
  include:
    - dist: precise
      php: 5.3
      env: WP_VERSION=latest WP_MULTISITE=0
  allow_failures:
    - php: nightly

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root "" localhost $WP_VERSION
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:1} == "7" ]]; then
      composer global require "phpunit/phpunit=^5.6"
    else
      composer global require "phpunit/phpunit=4.8.*"
    fi
  - |
    composer global require wp-coding-standards/wpcs
    phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs

script:
  - phpcs --standard=phpcs.ruleset.xml $(find -name "*.php")
  - phpunit

cache:
  directories:
    - $HOME/.composer/cache
