includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    paths:
        - class-wp-bootstrap-navwalker.php
        - wp-bootstrap-navwalker
    scanFiles:
        - tests/phpstan/class-wp-nav-menu-args.php
        - tests/phpstan/class-wp-nav-menu-item.php
        - class-wp-bootstrap-navwalker.php
        - wp-bootstrap-navwalker/class-fallback.php
        - wp-bootstrap-navwalker/class-filters.php
        - wp-bootstrap-navwalker/class-setup-args.php
        - wp-bootstrap-navwalker/class-setup-items.php
        - wp-bootstrap-navwalker/class-utils.php
        - wp-bootstrap-navwalker/class-walker.php
    ignoreErrors:
        # No return typehint
        -
            message: '#^Method WP_Bootstrap\\Navwalker\\Plugin::(includes|add_filters|add_inline_style_script)\(\) has no return typehint specified\.$#'
            path: class-wp-bootstrap-navwalker.php
        -
            message: '#^Method WP_Bootstrap\\Navwalker\\Fallback::(start|end)\(\) has no return typehint specified\.$#'
            path: wp-bootstrap-navwalker/class-fallback.php
        -
            message: '#^Method WP_Bootstrap\\Navwalker\\Utils::(add_aria_labelledby|add_style|add_script)\(\) has no return typehint specified\.$#'
            path: wp-bootstrap-navwalker/class-utils.php
        -
            message: '#^Method WP_Bootstrap\\Navwalker\\Walker::(start_lvl|display_element)\(\) has no return typehint specified\.$#'
            path: wp-bootstrap-navwalker/class-walker.php
