---
---

@import "{{ site.theme }}";

.page-header {
	background-color: #020075;
	background-image: linear-gradient(120deg, #020075, #991558);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #020075;
}
